<form action="https://formspree.io/esnideco@gmail.com"
      method="POST">
      <label for="contact-name"> Your Name </label>
    <input type="text" name="name" id="contact-name">
    <label for="contact-email"> Email </label>
    <input type="email" name="_replyto" id="contact-email">
    <label for="contact-message"> Message</label>
    <input type="text" name="message" id="contact-message">
    
    <input type="submit" value="Send">
</form>