// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
	border: 2px solid black;
	margin-bottom: 10px;
	width: 40%;
}



.post-body {

	width: 95%;
	overflow-wrap: break-word;
}